In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("police.csv.zip")

In [6]:
df

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,2015-12-31,20:27,NaN,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91737,2015-12-31,20:35,NaN,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91738,2015-12-31,20:45,NaN,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
91739,2015-12-31,21:42,NaN,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91740,2015-12-31,22:46,NaN,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [4]:
df.head()

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

Imputing

In [14]:
df.isnull().sum()

stop_date                 0
stop_time                 0
county_name           91741
driver_gender          5335
driver_age_raw         5327
driver_age             5621
driver_race            5333
violation_raw          5333
violation              5333
search_conducted          0
search_type           88545
stop_outcome           5333
is_arrested            5333
stop_duration          5333
drugs_related_stop        0
dtype: int64

In [9]:
df.isnull().sum()/len(df)

stop_date             0.000000
stop_time             0.000000
county_name           1.000000
driver_gender         0.058153
driver_age_raw        0.058066
driver_age            0.061270
driver_race           0.058131
violation_raw         0.058131
violation             0.058131
search_conducted      0.000000
search_type           0.965163
stop_outcome          0.058131
is_arrested           0.058131
stop_duration         0.058131
drugs_related_stop    0.000000
dtype: float64

In [15]:
df.drop(['county_name','search_type'],inplace=True,axis=1)

In [16]:
df.head(2)

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,M,1985.0,20.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
1,2005-01-18,08:15,M,1965.0,40.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False

Label Encoding

In [17]:
from sklearn.preprocessing import LabelEncoder

In [18]:
le=LabelEncoder()

In [19]:
df.driver_gender = le.fit_transform(df.driver_gender)
df.driver_race = le.fit_transform(df.driver_race)
df.violation_raw = le.fit_transform(df.violation_raw)
df.violation = le.fit_transform(df.violation)
df.search_conducted = le.fit_transform(df.search_conducted)
df.stop_outcome = le.fit_transform(df.stop_outcome)
df.is_arrested = le.fit_transform(df.is_arrested)
df.stop_duration = le.fit_transform(df.stop_duration)
df.drugs_related_stop = le.fit_transform(df.drugs_related_stop)

In [20]:
df.head()

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,1,1985.0,20.0,4,8,5,0,2,0,0,0
1,2005-01-18,08:15,1,1965.0,40.0,4,8,5,0,2,0,0,0
2,2005-01-23,23:15,1,1972.0,33.0,4,8,5,0,2,0,0,0
3,2005-02-20,17:15,1,1986.0,19.0,4,1,2,0,0,1,2,0
4,2005-03-14,10:00,0,1984.0,21.0,4,8,5,0,2,0,0,0

In [21]:
df.describe()

,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop
count,91741.000000,86414.000000,86120.000000,91741.000000,91741.000000,91741.000000,91741.000000,91741.000000,91741.000000,91741.000000,91741.000000
mean,0.801877,1970.491228,34.011333,3.349375,6.489781,3.501978,0.034837,2.364962,0.148189,0.728693,0.008884
std,0.524575,110.914909,12.738564,1.283398,2.666541,2.062034,0.183368,1.210116,0.492436,1.442183,0.093834
min,0.000000,0.000000,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1967.000000,23.000000,2.000000,4.000000,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000
50%,1.000000,1980.000000,31.000000,4.000000,8.000000,5.000000,0.000000,2.000000,0.000000,0.000000,0.000000
75%,1.000000,1987.000000,43.000000,4.000000,8.000000,5.000000,0.000000,2.000000,0.000000,0.000000,0.000000
max,2.000000,8801.000000,99.000000,5.000000,12.000000,6.000000,1.000000,6.000000,2.000000,5.000000,1.000000

In [22]:
df.driver_gender = df.driver_gender.astype('category')
df.describe(include='all')

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop
count,91741,91741,91741.0,86414.000000,86120.000000,91741.000000,91741.000000,91741.000000,91741.000000,91741.000000,91741.000000,91741.000000,91741.000000
unique,3768,1436,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,2012-01-11,11:00,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,69,323,62895.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,1970.491228,34.011333,3.349375,6.489781,3.501978,0.034837,2.364962,0.148189,0.728693,0.008884
std,NaN,NaN,NaN,110.914909,12.738564,1.283398,2.666541,2.062034,0.183368,1.210116,0.492436,1.442183,0.093834
min,NaN,NaN,NaN,0.000000,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,NaN,NaN,1967.000000,23.000000,2.000000,4.000000,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000
50%,NaN,NaN,NaN,1980.000000,31.000000,4.000000,8.000000,5.000000,0.000000,2.000000,0.000000,0.000000,0.000000
75%,NaN,NaN,NaN,1987.000000,43.000000,4.000000,8.000000,5.000000,0.000000,2.000000,0.000000,0.000000,0.000000
max,NaN,NaN,NaN,8801.000000,99.000000,5.000000,12.000000,6.000000,1.000000,6.000000,2.000000,5.000000,1.000000